<div class="container">
  {{#each places}}
  <div class="place-list">
    <a href="/places/{{placeName}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <p id="where"><a href="/places/{{placeName}}">Where is this?</a></p>
  </div>
  {{/each}}
</div>
