<div class="container">
  {{#each places}}
  <div class="place-list">
    <a href="/places/{{id}}"><img class="img-circle" src="{{image}}" alt="{{name}}"></a>
    <p id="where">Where is this?</p>
  </div>
  {{/each}}
</div>
